<section>
  <card-group>
    <% feeds.each do |feed| %>
      <%= render 'gh_card', feed: feed if feed.is_a?(GithubNotification) %>
      <%= render 'slack_card', feed: feed if feed.is_a?(SlackNotification) %>
    <% end %>
  </card-group>
</section>
