<h1>TeamTracker - Choose your Organization Styleguide</h1>


<section >

  <h2>Selecione a organização que deseja rastrear</h2>

  <org-card>
    <bigavatar>
      <img src="http://placekitten.com/g/96/96" alt="avatar" />
    </bigavatar>
    <description>
      <h2>4Soft</h2>
      <p>
        Empresa júnior mais legal UFRN.
      </p>
    </description>
  </org-card>

  <hr>

  <org-card>
    <bigavatar>
      <img src="http://placekitten.com/g/96/96" alt="avatar" />
    </bigavatar>
    <description>
      <h2>Coopera</h2>
      <p>
        Pesquisadores mais legais da UFRN.
      </p>
    </description>
  </org-card>

  <hr>

  <org-card>
    <bigavatar>
      <img src="http://placekitten.com/g/96/96" alt="avatar" />
    </bigavatar>
    <description>
      <h2>Diredevs</h2>
      <p>
        Sultans of Java Swing.
      </p>
    </description>
  </org-card>

  <hr>
</section>
