<h1>TeamTracker - StyleGuide</h1>

<% if current_user %>
  <%= current_user.name %>
<% else %>
  <%= link_to 'Login', '/auth/github' %>
<% end %>

<section>
  <h2>GitHub</h2>


  <card-group>
    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>1 Commit on Eleja-se</h3>
        <ul>
          <li>Commit message example</li>
        </ul>
      </action>
      <action-icon>
        <timestamp>
          23/02/2014 - 14h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>5 Commits on Iglesias</h3>
        <ul>
          <li>First Commit message example</li>
          <li>Second Commit message example</li>
          <li>Thrid Commit message example</li>
          <li>Fourth Commit message example</li>
          <li>Fifth Commit message example</li>
        </ul>
      </action>
      <action-icon>
        <timestamp>
          23/02/2014 - 14h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Issue Opened on Gepe</h3>
        <p>
          Create views for new feature
        </p>
      </action>
      <action-icon>
        <timestamp>
          23/02/2014 - 14h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Issue Closed on Gepe</h3>
        <p>
          Create controllers for new feature
        </p>
      </action>
      <action-icon>
        <timestamp>
          23/02/2014 - 14h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Pull Request Submited on LuLanches</h3>
        <p>
          Implements cool feature
        </p>
        <ul>
          <li>First Commit message example</li>
          <li>Second Commit message example</li>
          <li>Thrid Commit message example</li>
          <li>Fourth Commit message example</li>
          <li>Fifth Commit message example</li>
        </ul>
      </action>
      <action-icon>
        <timestamp>
          23/03/2014 - 19h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Pull Request Merged on LuLanches</h3>
        <p>
          Implements not so cool feature
        </p>
      </action>
      <action-icon>
        <timestamp>
          23/03/2014 - 19h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Comment on a Commit on CooperativaCultural</h3>
        <p>
          That's cool!
        </p>
      </action>
      <action-icon>
        <timestamp>
          22/03/2014 - 18h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Comment on a Pull Request on CooperativaCultural</h3>
        <p>
          That's nice!
        </p>
      </action>
      <action-icon>
        <timestamp>
          23/03/2014 - 19h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>
  </card-group>

  <br>
  <br>
  <br>
  <br>

</section>


<section>
<h2>Slack</h2>
  <card-group>
    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <action>
        <h3>Good Morning!</h3>
        <p>
          to @channel
        </p>
      </action>
      <action-icon>
        <timestamp>
          22/03/2014 - 18h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>



    <activity-card>
      <avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </avatar>
      <slack-action>
        <h3>Thanks for your help!</h3>
        <p>
          to @michaelcaton
        </p>
      </slack-action>
      <slack-avatar>
        <img src="http://placekitten.com/g/64/64" alt="avatar" />
      </slack-avatar>
      <action-icon>
        <timestamp>
          22/03/2014 - 18h
        </timestamp>
        *icon goes here*
      </action-icon>
    </activity-card>
  </card-group>
</section>
