<div class="feed-item__info">
  <span class="octicon octicon-git-pull-request"></span>
    <%= issue.info %>
  <div class="feed-item__date">
    Posted <%= time_ago_in_words(issue.time) %> ago
  </div>
</div>
