<div class="ui stackable grid">
  <div class="three wide column">
    <div class="ui fluid secondary vertical pointing menu">
      <div class="item">
        <span class="header">GitHub</span>
        <a class="item">
          Pull Requests
        </a>
        <a class="item">
          Issues
        </a>
      </div>
      <div class="item">
        <span class="header">Slack</span>
        <a class="item">
          Mentions
        </a>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui statistics">
      <div class="statistic">
        <span class="value"><%= @pull_requests.count %></span>
        <span class="label">Pull Requests</span>
      </div>
      <div class="statistic">
        <span class="value">6</span>
        <span class="label">Developers</span>
      </div>
    </div>
    <div class="ui feed">
      <% @pull_requests.each_with_index do |pull_request, i| %>
        <div class="event">
          <div class="label">
            <%= pull_request.author.avatar %>
          </div>
          <div class="content">
            <%= render partial: "pull_request_info", locals: {pull_request: pull_request} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
