<section class="pull-requests">
  <h1>Latest pull requests</h1>
  <% @pull_requests.each do |pull_request| %>
    <div class="pull-request">
      <div class="pull-request__author">
        <%= image_tag pull_request.author.avatar_url, class: 'avatar' %>
      </div>
      <div class="pull-request__card">
        <div class="pull-request__info">
          <%= pull_request.title %>
        </div>
      </div>
    </div>
  <% end %>
</section>
