<div class="ui left fixed vertical menu">
  <a class="item">
    <i class="octicon octicon-git-pull-request"></i>
    Pull Requests
  </a>
  <a class="item">
    <i class="octicon octicon-issue-opened"></i>
    Issues
  </a>
  <a class="item">
    <i class="octicon octicon-mention"></i>
    Mentions
  </a>
</div>
